<footer class="site-footer">
    <div class="footer-inner">

        <div class="footer-brand">
            <h3>AstroClassifier</h3>

            <p class="footer-credit">
                Projeto acadêmico e desenvolvimento por
                <a
                    href="https://github.com/VanessaMartiins"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    Vanessa Martins
                </a>
            </p>
        </div>

        <p>
            Transformando dados do Universo através da Inteligência Artificial.
        </p>

    </div>
</footer>